<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trang chủ</title>
    <link rel="shortcut icon" href="images/icon.png" />

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
    <link rel="stylesheet" href="stylesheets/pagi-style.css">

</head>

<body style="background-color:  rgb(233, 239, 248);">
    <div class="container">
        <img class="fe-logo" src="images/fe-logo.png">
        <div class="row d-flex align-items-center">
            <h1>Chờ xác thực (
                <%=Pending%> )</h1>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-8">
                <% if (Status == "0"){ %>
                    <button onclick="window.location='/status=0'" class="pending-active">Chưa duyệt</button>
                    <button onclick="window.location='/status=1'" class="approved-inactive">Đã xác thực</button>
                    <button onclick="window.location='/status=-1'" class="declined-inactive">Đã từ chối</button>
                    <% } %>
                        <% if (Status == "1"){ %>
                            <button onclick="window.location='/status=0'" class="pending-inactive">Chưa duyệt</button>
                            <button onclick="window.location='/status=1'" class="approved-active">Đã xác thực</button>
                            <button onclick="window.location='/status=-1'" class="declined-inactive">Đã từ chối</button>
                            <% } %>
                                <% if (Status == "-1"){ %>
                                    <button onclick="window.location='/status=0'" class="pending-inactive">Chưa duyệt</button>
                                    <button onclick="window.location='/status=1'" class="approved-inactive">Đã xác thực</button>
                                    <button onclick="window.location='/status=-1'" class="declined-active">Đã từ chối</button>
                                    <% } %>
            </div>
            <div class="col-4 align-items-center">
                <!-- <form class="form-inline">
                    <input type="text" class="form-control" id="inputPassword2" placeholder="Tìm theo tên">
                </form> -->
            </div>
        </div>

        <table class="table my-table">
            <colgroup>
                <col style="width:55%">
                <!-- <col style="width:15%"> -->
                <col style="width:25%">
                <col style="width:15%">
                <col style="width:5%">
            </colgroup>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Tên khách hàng</th>
                    <!-- <th scope="col">Số điện thoại</th> -->
                    <th scope="col">Ngày nộp đơn </th>
                    <th scope="col">Tình trạng</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="fade-in one">
                <% Items.forEach(function(item){ %>
                    <tr class="my-tr" onclick="window.location='/status=<%=Status%>&id=<%= item.UserId%>'">
                        <!-- <th class="name" scope="row">Nguyễn Văn Nam</th> -->
                        <th class="label">
                            <%= item.Fullname%>
                        </th>
                        <!-- <td>
                            <%= item.PhoneNumber%>
                        </td> -->
                        <td>
                            <%= new Date(item.CreatedAt * 1).toLocaleString()%>
                        </td>
                        <% if (item.VerificationStatus == -1){%>
                            <td class="declined">Đã từ chối</td>
                            <%} else if (item.VerificationStatus == 0){%>
                                <td class="pending">Chưa duyệt</td>
                                <%} else if (item.VerificationStatus == 1){%>
                                    <td class="approved">Đã xác thực</td>
                                    <%}%>

                                        <td><img src="icons/detail.svg" class="big-icon" /></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <!-- <div id="app">
            <div class="container" :style="{ 'max-width': containerWidth + 'px' }">
                <app-pagination v-model="page" :length=<%=Length%> :total-visible=7>
                    <template #prev-icon>
                        <i class="fa fa-chevron-left"></i>
                    </template>
                    <template #next-icon>
                        <i class="fa fa-chevron-right"></i>
                    </template>
                </app-pagination>
            </div>
        </div>
    </div>

</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
<script src="javascripts/scripts.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>