<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body style="background-color:  rgb(233, 239, 248);">

    <div class="sidenav right_stroke fade-in one">
        <div class="my-row">
            <h3 style="color: #ffffff" class="back" onclick="window.location.href = '/status=<%=Status%>';"><img src="icons/back.svg" class="big-icon" /> Trở lại </h3>
        </div>
        <div class="info-container">
            <div class="my-row d-flex align-items-center">
                <img src="icons/name.svg" class="info-icon" />
                <p-info>
                    <%=Item.Fullname%>
                </p-info>
            </div>
            <div class="my-row d-flex align-items-center">
                <img src="icons/time.svg" class="info-icon" />
                <p-info>
                    <%=new Date(Item.CreatedAt * 1).toLocaleString()%>
                </p-info>
            </div>
            <!-- <div class="my-row d-flex align-items-center">
                <img src="icons/phone.svg" class="info-icon" />
                <p-info>
                    <%=Item.PhoneNumber%>
                </p-info>
            </div> -->
            <div class="my-row d-flex align-items-center">
                <img src="icons/status.svg" class="info-icon" />
                <%if(Item.VerificationStatus==0){%>
                    <p class="pending">Chưa duyệt</p>
                    <%}%>
                        <%if(Item.VerificationStatus==1){%>
                            <p class="approved">Đã xác thực</p>
                            <%}%>
                                <%if(Item.VerificationStatus==-1){%>
                                    <p class="declined">Đã từ chối</p>
                                    <%}%>
            </div>
        </div>
        <div class="my-row d-flex align-items-center">
            <img src="icons/id-card.svg" class="info-icon" />
            <p-info>Ảnh CMND</p-info>
        </div>
        <img src="data:image/png;base64, <%=Item.IdentityCardImage%>" class="img_holder_id_card" />

        <div class="my-row d-flex align-items-center">
            <img src="icons/selfie.svg" class="info-icon" />
            <p-info>Ảnh selfie</p-info>
        </div>
        <img src="data:image/png;base64, <%=Item.SelfieImage%>" class="img_holder_selfie" />

    </div>

    <div class="main">
        <div class="container">
            <div class="row fade-in two">
                <div class="col">
                    <h1>Kết quả phân tích</h1>
                </div>
            </div>
            <div class="row fade-in three">
                <div class="col" style="margin-bottom: 24px;">
                    <h5>Thông tin CMND</h5>
                    <div class="card">
                        <div class="row d-flex align-items-center">
                            <div class="col-7" style="padding-left: 0px;">
                                <img src="data:image/png;base64, <%=Item.CroppedImage%>" class="img_holder_id_card_result magnifiedImg" />
                            </div>
                            <div class="col-5">
                                <h6 class="card-subtitle mb-2 text-muted">Số CMND </h6>
                                <%if (Item.IdentityNumberResult){%>
                                    <p class="card-text card-content no-btm-margin ">
                                        <%=Item.OCRIdentityNumber%>
                                            <img src="icons/valid.svg" class="small-icon" /></p>
                                    <%}else{%>
                                        <p class="card-text card-content no-btm-margin" style="color: #FF4747">
                                            <%=Item.OCRIdentityNumber%>
                                                <img src="icons/invalid.svg" class="small-icon" /></p>
                                        <%}%>

                                            <h6 class="card-subtitle mb-2 text-muted">Họ tên</h6>
                                            <%if (Item.FullnameResult){%>
                                                <p class="card-text card-content no-btm-margin ">
                                                    <%=Item.OCRFullname%>
                                                        <img src="icons/valid.svg" class="small-icon" /></p>
                                                <%}else{%>
                                                    <p class="card-text card-content no-btm-margin" style="color: #FF4747">
                                                        <%=Item.OCRFullname%>
                                                            <img src="icons/invalid.svg" class="small-icon" /></p>
                                                    <%}%>


                                                        <h6 class="card-subtitle mb-2 text-muted">Ngày sinh</h6>
                                                        <%if (Item.BirthdayResult){%>
                                                            <p class="card-text card-content no-btm-margin ">
                                                                <%=Item.OCRBirthday%>
                                                                    <img src="icons/valid.svg" class="small-icon" /></p>
                                                            <%}else{%>
                                                                <p class="card-text card-content no-btm-margin" style="color: #FF4747">
                                                                    <%=Item.OCRBirthday%>
                                                                        <img src="icons/invalid.svg" class="small-icon" /></p>
                                                                <%}%>

                                                                    <h6 class="card-subtitle mb-2 text-muted">Nguyên quán</h6>
                                                                    <%if (Item.HometownResult){%>
                                                                        <p class="card-text card-content no-btm-margin ">
                                                                            <%=Item.OCRHometown%>
                                                                                <img src="icons/valid.svg" class="small-icon" /></p>
                                                                        <%}else{%>
                                                                            <p class="card-text card-content no-btm-margin" style="color: #FF4747">
                                                                                <%=Item.OCRHometown%>

                                                                                    <img src="icons/invalid.svg" class="small-icon" /></p>
                                                                            <%}%>

                                                                                <h6 class="card-subtitle mb-2 text-muted">Nơi ĐKHK thường trú </h6>
                                                                                <%if (Item.DistrictResult && Item.ProvinceResult){%>
                                                                                    <p class="card-text card-content no-btm-margin ">
                                                                                        <%=Item.OCRDistrict%>,
                                                                                            <%=Item.OCRProvince%>
                                                                                                <img src="icons/valid.svg" class="small-icon" /></p>
                                                                                    <%}else{%>
                                                                                        <p class="card-text card-content no-btm-margin" style="color: #FF4747">
                                                                                            <%=Item.OCRDistrict%>,
                                                                                                <%=Item.OCRProvince%>
                                                                                                    <img src="icons/invalid.svg" class="small-icon" /></p>
                                                                                        <%}%>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fade-in three">
                <div class="col" style="margin-bottom: 24px;">
                    <h5>Thông tin trong đơn</h5>
                    <div class="card">
                        <div class="row">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Số CMND</h6>
                                <p class="card-text card-content">
                                    <%=Item.IdentityNumber%>
                                </p>
                                <h6 class="card-subtitle mb-2 text-muted">Họ tên</h6>
                                <p class="card-text card-content">
                                    <%=Item.Fullname%>
                                </p>
                                <h6 class="card-subtitle mb-2 text-muted">Ngày sinh</h6>
                                <p class="card-text card-content">
                                    <%=Item.Birthday%>
                                </p>
                                <h6 class="card-subtitle mb-2 text-muted">Nguyên quán</h6>
                                <p class="card-text card-content">
                                    <%=Item.Hometown%>
                                </p>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">Giới tính</h6>
                                <p class="card-text card-content">Nữ</p> -->
                                <h6 class="card-subtitle mb-2 text-muted">Nơi ĐKHKTT</h6>
                                <p class="card-text card-content">
                                    <%=Item.District%>,
                                        <%=Item.Province%>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fade-in four">
                <div class="col" style="margin-bottom: 24px;">
                    <h5>Kiểm tra template</h5>
                    <div class="card" style="padding-left: 0; padding-right: 0;">
                        <div class="card-body">
                            <div class="row" style="margin-bottom: 0;">
                                <div class="col-sm d-flex align-items-end flex-column bd-highlight mb-3">
                                    <div class="text-center" style="padding:0px">
                                        <img src="data:image/png;base64, <%=Item.QuocHuyImage%>" />
                                        <h6 class="card-subtitle mb-2 text-muted">Quốc huy cắt</h6>
                                    </div>
                                </div>
                                <div class="col-sm d-flex align-items-start flex-column bd-highlight mb-3">
                                    <div class="text-center" style="padding:0px">
                                        <img src="images/quochuygoc.png" />
                                        <h6 class="card-subtitle mb-2 text-muted">Quốc huy chuẩn</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center text-center section-line" style="margin-bottom: 56px; padding-bottom: 32px;">
                                <div class="col-12">
                                    Tỉ lệ chuẩn
                                    <%if (Math.floor(Item.QuocHuyScore*100) > 50){%>
                                        <div class="percentage-valid" data-end="%">
                                            <%=Math.floor(Item.QuocHuyScore*100)%>
                                        </div>
                                        <%}else {%>
                                            <div class="percentage-invalid" data-end="%">
                                                <%=Math.floor(Item.QuocHuyScore*100)%>
                                            </div>
                                            <%}%>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 0;">
                                <div class="col-sm d-flex align-items-end flex-column bd-highlight mb-3">
                                    <div class="text-center" style="padding:0px">
                                        <img src="data:image/png;base64, <%=Item.TieuDeImage%>" class="img_holder_tieude" />
                                        <h6 class="card-subtitle mb-2 text-muted">Tiêu đề cắt</h6>
                                    </div>
                                </div>
                                <div class="col-sm d-flex align-items-start flex-column bd-highlight mb-3">
                                    <div class="text-center" style="padding:0px">
                                        <img src="images/quocngu.jpg" class="img_holder_tieude" />
                                        <h6 class="card-subtitle mb-2 text-muted">Quốc ngữ chuẩn</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center text-center section-line" style="margin-bottom: 56px; padding-bottom: 32px;">
                                <div class="col-12">
                                    Tỉ lệ chuẩn
                                    <%if (Math.floor(Item.QuocNguScore*100) > 50){%>
                                        <div class="percentage-valid" data-end="%">
                                            <%=Math.floor(Item.QuocNguScore*100)%>
                                        </div>
                                        <%}else {%>
                                            <div class="percentage-invalid" data-end="%">
                                                <%=Math.floor(Item.QuocNguScore*100)%>
                                            </div>
                                            <%}%>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 0;">
                                <div class="col-sm d-flex align-items-end flex-column bd-highlight mb-3">
                                    <div class="text-center" style="padding:0px">
                                        <img src="data:image/png;base64, <%=Item.TieuDeImage%>" class="img_holder_tieude" />
                                        <h6 class="card-subtitle mb-2 text-muted">Tiêu đề cắt</h6>
                                    </div>
                                </div>
                                <div class="col-sm d-flex align-items-start flex-column bd-highlight mb-3">
                                    <div class="text-center" style="padding:0px">
                                        <img src="images/tieungu.jpg" class="img_holder_tieude" />
                                        <h6 class="card-subtitle mb-2 text-muted">Tiêu ngữ chuẩn</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center text-center section-line" style="margin-bottom: 56px; padding-bottom: 32px;">
                                <div class="col-12">
                                    Tỉ lệ chuẩn
                                    <%if (Math.floor(Item.TieuNguScore*100) > 50){%>
                                        <div class="percentage-valid" data-end="%">
                                            <%=Math.floor(Item.TieuNguScore*100)%>
                                        </div>
                                        <%}else {%>
                                            <div class="percentage-invalid" data-end="%">
                                                <%=Math.floor(Item.TieuNguScore*100)%>
                                            </div>
                                            <%}%>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm d-flex align-items-end flex-column bd-highlight mb-3">
                                    <div class="text-center" style="padding:0px">
                                        <img src="data:image/png;base64, <%=Item.TieuDeImage%>" class="img_holder_tieude" />
                                        <h6 class="card-subtitle mb-2 text-muted">Tiêu đề cắt</h6>
                                    </div>
                                </div>
                                <div class="col-sm d-flex align-items-start flex-column bd-highlight mb-3">
                                    <div class="text-center" style="padding:0px">
                                        <img src="images/cmnd.jpg" class="img_holder_tieude" />
                                        <h6 class="card-subtitle mb-2 text-muted">Tên giấy chuẩn</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center text-center" style="margin-bottom: 32px;">
                                <div class="col-12">
                                    Tỉ lệ chuẩn
                                    <%if (Math.floor(Item.TenGiayScore*100) > 50){%>
                                        <div class="percentage-valid" data-end="%">
                                            <%=Math.floor(Item.TenGiayScore*100)%>
                                        </div>
                                        <%}else {%>
                                            <div class="percentage-invalid" data-end="%">
                                                <%=Math.floor(Item.TenGiayScore*100)%>
                                            </div>
                                            <%}%>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row fade-in four">
                <div class="col" style="margin-bottom: 24px;">
                    <h5>So sánh khuôn mặt</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="row" style="margin-bottom: 0;">
                                <div class="col-sm d-flex text-center align-items-end flex-column bd-highlight mb-3">
                                    <div class="text-center">
                                        <img src="data:image/png;base64, <%=Item.ChanDungImage%>" class="img_holder_face_result" />
                                        <h6 class="card-subtitle mb-2 text-muted">Mặt trong CMND</h6>
                                    </div>
                                </div>
                                <div class="col-sm d-flex text-center align-items-start flex-column bd-highlight mb-3">
                                    <div class="text-center">
                                        <img src="data:image/png;base64, <%=Item.SelfieImage%>" class="img_holder_face_result" />
                                        <h6 class="card-subtitle mb-2 text-muted">Mặt trong ảnh</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center text-center">
                                <div class="col-12">
                                    Tỉ lệ trùng khớp
                                    <%if (Math.floor(Item.FaceResult) > 50){%>
                                        <div class="percentage-valid" data-end="%">
                                            <%=Math.floor(Item.FaceResult)%>
                                        </div>
                                        <%}else {%>
                                            <div class="percentage-invalid" data-end="%">
                                                <%=Math.floor(Item.FaceResult)%>
                                            </div>
                                            <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="padding-bottom: 80px;">
            <%if (Item.VerificationStatus==0){%>
                <button type="button" class="my-btn btn-danger" data-toggle="modal" data-target="#decline-confirmation">Từ chối</button>
                <button type="button" class="my-btn btn-success" data-toggle="modal" data-target="#approve-confirmation">Xác thực</button>
                <%}%>
                    <div class="modal fade text-center " id="decline-confirmation" tabindex="-1" role="dialog" aria-labelledby="decline-confirmation" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="decline-confirmation">Xác nhận</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                </div>
                                <div class="modal-body">
                                    <p>Bạn sắp từ chối đơn vay của</p>
                                    <p-name>
                                        <%=Item.Fullname%>
                                    </p-name>
                                    <!-- <p-invalid>97%</p-invalid> -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    <form action="/id=<%=Item.UserId%>&status=-1" method="POST">
                                        <button type="submit" class="btn btn-danger">Từ chối</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade text-center" id="approve-confirmation" tabindex="-1" role="dialog" aria-labelledby="approve-confirmation" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="approve-confirmation">Xác nhận</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                </div>
                                <div class="modal-body">
                                    <p>Bạn sắp xác thực đơn vay của</p>
                                    <p-name>
                                        <%=Item.Fullname%>
                                    </p-name>
                                    <!-- <p-valid>97%</p-valid> -->
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    <form action="/id=<%=Item.UserId%>&status=1" method="POST">
                                        <button type="submit" class="btn btn-success">Xác thực</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/javascripts/scripts.js"></script>
<script src="/javascripts/magnifier.js"></script>

</html>